:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em); /* Base font size scales slightly with the viewport. */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1430b8;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #b81414;
}

.page-header { /* Page header and title (l32 - l48). */
  padding: 0.4em 1em;
  background-color: #fff;
}

@media (min-width: 35em) {
  .page-header {
    padding: 1em; /* Increase header padding */
  }
}

.title > h1 {
  color: #333;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0.2em 0;
}

@@media (min-width: 35em) { /* Targets breakpoints above 35 em */
  .title > h1 {
    font-size: 2.25rem; /* Overrides the mobile font size (1.5 rem) with a larger one */
  }
}

.slogan {
  color: #888;
  font-size: 0.875em;
  margin: 0;
}

.hero {
  padding: 2em 1em;
  text-align: center;
  background-image: url(./coffee-beans.jpg); /* Adds the hero image to the page. */
  background-size: 100%;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.3em #000; /* A dark text shadow helps light text remain readable */
}                                      /* in front of complex background. */

@media (min-width: 35em) {
  .hero {
    padding: 5em 3em; /*Increases hero image padding and font size. */
    font-size: 1.2rem;
  }
}

main {
  padding: 1em;
}

@media (min-width: 35em) {
  main {
    padding: 2em 1em; /* Increases padding on main */
  }
}

.subtitle {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.menu {
  position: relative; /* Establishes containing block for both absolutely positioned children. */
}

.menu-toggle {
  position: absolute;
  top: -1.2em; /* a negative top pulls the button up outside its containing block. */
  right: 0.1em;

  border: 0; /* Overrides user agent button styles. */
  background-color: transparent;

  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em; /* Hides the text content of the button and fixes its size at 1 em. */
  white-space: nowrap;
  overflow: hidden;
}

.menu-toggle::after {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  display: block;
  content: "\2261"; /* Overlays the button with a unicode symbol, the hamburger icon. */
  text-indent: 0;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}

.menu.is-open .menu-dropdown {
  display: block; /* Displays the dropdown menu when the class is-open is added to the menu. */
}

.nav-menu {
  margin: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  background-color: #000;
  color: #fff;
}

.nav-menu > li + li { /* Applies a border between each menu item. */
  border-top: 1px solid #ccc;
}

.nav-menu > li > a {
  display: block;
  padding: 0.8em 1em; /* Uses a healthy amount of padding to ensure a large clickable area. */
  color: #fff;
  font-weight: normal;
}

@media (min-width: 35em) {
  .menu-toogle {
    display: none; /* Hides toggle button and reveals the dropdown contents */
  }

  .menu-dropdown {
    display: block; /* Hides toggle button and reveals the dropdown contents */
    position: static; /* Overrides absolute positioning */
  }
}

@media (min-width: 35em) {
  .nav-menu {
    display: flex;
    border: 0;
    padding: 0 1em;
  }

  .nav-menu > li {
    flex: 1;
  }

  .nav-menu > li + li {
    border: 0;
  }

  .nav-menu > li > a {
    padding: 0.3em;
    text-align: center;
  }
}

@media (min-width: 35em) {
  .row {
    display: flex;
    margin-left: -.75em; /* Use negative margins to widen the row container to compensate */
    margin-right: -.75em; /* for column margins (chapter 4, section 4.5.2) */
  }

  .column {
    flex: 1;
    margin-right: 0.75em; /* Adds column gutters */
    margin-left: 0.75em;
  }
}
